.home-container {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.home-card {
  display: flex;
  flex-direction: column;
}

.home-image-container {
  display: flex;
  background-color: #00285f;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;
  border-radius: 10px;
}

.home-image-container h1 {
  width: 260px;
  font-size: 1.06em;
  line-height: 26px;
  margin-top: 35px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}

.home-image-container p {
  width: 350px;
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 30px;
}

.home-image-container svg {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 80%;
  height: auto;
}

.button-card {
  background-color: #d9d9d9;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.home-button-container {
  padding: 10px 10px 10px 10px;
}

.home-button-container p {
  color: #585858;
  margin-top: 9px;
}
