.btn-container {
  display: flex;
  margin-top: 26px;
}

.btn-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #00285f;
  width: 258px;
  height: 40px;
}

.btn h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 8px;
}
