.quicksearch-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86px;
  padding-top: 18px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.btn-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  background-color: #33569b;
}

.btn-icon-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  color: #ffffff;
  text-align: center;
}

.quicksearch {
  background-color: #ffffff;
  width: 250px;
  border-radius: 5px 0 0 5px;
}
